<div class="companyListItem">
  {{#if @isEditing}}
    <Input
      type="text"
      @value={{this.updatedCompanyName}}
      placeholder={{@company.name}}
    />
  {{/if}}
  {{#unless @isEditing}}
    <a href="/companies/{{@company.id}}">{{@company.name}}</a>
  {{/unless}}

  <p>{{this.getProjectCount @company.id}}</p>
  <p>{{this.getEmployeeCount @company.id}}</p>
  {{#if @isEditing}}
    <AuButton
      id="create"
      {{on "click" (fn this.editCompany @company)}}
    >Save</AuButton>
  {{/if}}
  <span></span>
</div>