<div class="employeeListItem">
  <a href="/employees/{{@employee.id}}">{{@employee.fullName}}</a>
  <p>{{@employee.givenName}}</p>
  <p>{{@employee.familyName}}</p>
  {{#if @isEditing}}
    <AuButton
      id="create"
      {{on "click" (fn this.editEmployee @employee)}}
    >Save</AuButton>
  {{/if}}
  <span></span>
</div>