<div class="profilePersonalInformation">
  <div class="fields">
    <span>
      <p class="fieldLabel">First Name</p>
      <p>{{@givenName}}</p>
    </span>
    <span>
      <p class="fieldLabel">Last Name</p>
      <p>{{@familyName}}</p>
    </span>
    <span>
      <p class="fieldLabel">Email Address</p>
      <p>{{@email}}</p>
    </span>
    <span>
      <p class="fieldLabel">Phone</p>
      <p>{{@telephone}}</p>
    </span>
    <span>
      <p class="fieldLabel">Bio</p>
      <p>{{@bio}}</p>
    </span>
  </div>
</div>