<div class="entityDetail">
  <div class="actionsBar">
    <div class="filtering"></div>
    <div class="actionButtons">
      {{#if this.isExecutingAction}}
        <AuButton
          id="cancel"
          {{on "click" (fn this.toggleIsExecutingAction)}}
        >Cancel</AuButton>
      {{/if}}
      <AuButton
        id="delete"
        disabled={{this.isExecutingAction}}
        {{on "click" (fn this.deleteEmployee @model.employee.id)}}
      >Delete this employee</AuButton>

      <AuButton
        id="create"
        disabled={{this.isExecutingAction}}
        {{on "click" (fn this.setIsShowingAssignProject)}}
      >Assign to project</AuButton>
      <AuButton
        id="create"
        disabled={{this.isExecutingAction}}
        {{on "click" (fn this.setIsShowingAssignCompany)}}
      >Assign to company </AuButton>
    </div>
  </div>

  {{#if this.isAddProjectToEmployeeIsVisisble}}
    <div class="create">
      <label for="projectSelectInput">
        Select the project you want to assign this employee too
        <select id="projectSelectInput">
          {{#each this.possibleProjectsToAssign as |project|}}
            <option value={{project.id}}>{{project.name}}</option>
          {{/each}}
        </select>
      </label>

      <AuButton
        id="create"
        {{on "click" (fn this.addProjectToEmployee @model.employee.id)}}
      >Assign</AuButton>
    </div>
  {{/if}}

  {{#if this.isAddCompanyToEmployeeIsVisisble}}
    <div class="create">
      <label for="companySelectInput">
        Select the company you want to assign this employee too
        <select id="companySelectInput">
          {{#each this.possibleCompaniesToAssign as |company|}}
            <option value={{company.id}}>{{company.name}}</option>
          {{/each}}
        </select>
      </label>

      <AuButton
        id="create"
        {{on "click" (fn this.addCompanyToEmployee @model.employee.id)}}
      >Assign</AuButton>
    </div>
  {{/if}}

  <Profile::header
    @fullName={{@model.employee.fullName}}
    @jobTitle={{@model.employee.jobTitle}}
  />
  <br />
  <Profile::personal
    @givenName={{@model.employee.givenName}}
    @familyName={{@model.employee.familyName}}
    @email={{@model.employee.email}}
    @telephone={{@model.employee.telephone}}
    @bio={{@model.employee.bio}}
  />
  <br />

  {{#if @model.projectsList}}
    <h3>Projects</h3>
    <Projects @projects={{@model.projectsList}} />
  {{/if}}
  <br />
  {{#if @model.companiesList}}
    <h3>Companies</h3>
    <Companies @companies={{@model.companiesList}} />
  {{/if}}
</div>